# .env.example

# Database configuration
database_url=""

# JWT Configuration
jwt_secret=""

# Engine URL
engine_url=""

# Stripe Configuration
stripe_secret_key=""

# Shopify Configuration
shopify_api_key=""
shopify_secret_key=""
shopify_redirect_uri=""
